@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%; /* #FAFAFA */
    --foreground: 88 20% 17%; /* #2C3322 */

    --card: 0 0% 100%;
    --card-foreground: 88 20% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 88 20% 17%;

    --primary: 88 20% 42%; /* #728156 */
    --primary-foreground: 0 0% 100%;

    --secondary: 93 58% 91%; /* #E7F5DC */
    --secondary-foreground: 88 20% 17%;

    --muted: 88 38% 83%; /* #CFE1B9 */
    --muted-foreground: 88 20% 17%;

    --accent: 88 20% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 85% 97%;

    --border: 88 38% 83%;
    --input: 88 38% 83%;
    --ring: 88 20% 42%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 88 20% 17%;
    --foreground: 0 0% 98%;

    --card: 88 20% 22%;
    --card-foreground: 0 0% 98%;

    --popover: 88 20% 22%;
    --popover-foreground: 0 0% 98%;

    --primary: 88 20% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 88 20% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 88 20% 32%;
    --muted-foreground: 0 0% 98%;

    --accent: 88 20% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 85% 97%;

    --border: 88 20% 27%;
    --input: 88 20% 27%;
    --ring: 88 20% 42%;
  }
}

@layer base {

  * {

    @apply border-border;

  }



  body {

    @apply bg-background text-foreground;

  }

}


